centered-text {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    color: #dbd4d5;
}
p {
    text-align: center;
    color:blanchedalmond
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

p {
    text-align: center;
    padding: 20px;
    text-align: justify;
